{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    body, html {
        color: black;
        background-color: beige;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .container {
        margin-top: 100px;
    }
    .accordion, .panel {
        background-color: rgba(34, 34, 34, 0);
        color: black;
    }
</style>
    
{% endblock css %}
    

{% block main %}


    <!-- Hesap -->
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="row">
                    <h1>Hesap</h1>
                    <hr>
                    <div class="col">
                        <h4>Üyelik ve Ödemeler</h4>
                        <button>Üyeliği iptal et</button>
                    </div>
                    <div class="col">
                        <strong>berkayulger45920@gmail.com</strong>
                        <p>Parola:*******</p>
                        <p>tel: 0537 692 52 42</p>
                    </div>
                    <div class="col">
                        <a href="">E-postayi değiştir</a> <br>
                        <a href="">Parolayı değiştir</a> <br>
                        <a href="">Telefon numarasını değiştir</a>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="col">
                        <h4>Ayarlar</h4>
                    </div>

                    <div class="col">
                        <a href="">18+ İçerik</a> <br>
                        <a href="">Teste katılın</a> <br>
                        <a href="">İçerik indirilen cihazları yönet</a>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="col">
                        <h4>Profil ve ebeveyn kontrolleri</h4>
                    </div>

                    <div class="col">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            
                            {% for i in profiles %}
                            <div class="accordion-item bg-transparent">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed text-bg-dark" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#profile{{ i.id }}" aria-expanded="false" aria-controls="profile{{ i.id }}">
                                        <img width="40" height="40" style="object-fit: cover;" src="{{ i.image.url }}" alt="">
                                        <p class="mx-3 mb-0">{{ i.name }}</p>
                                        
                                    </button>
                                </h2>
                                <div id="profile{{ i.id }}" class="accordion-collapse collapse text-bg-dark" aria-labelledby="flush-headingOne"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body d-flex justify-content-between">
                                        <button class="btn btn-success">Düzenle</button>
                                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#profilDel{{ i.id }}">Sil</a>
                                        
                                    </div>
                                </div>
                            </div>


                            <!-- Profile Delete -->
                            <div class="modal fade" id="profilDel{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Silmek istediğine eminmisin?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <div>
                                                    <label class="form-label" for="">Hesap Şifresinizi Giriniz</label>
                                                    <input class="form-control" name="password" type="password">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" name="submit" value="profilDelete" class="btn btn-danger">Evet</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                                
                        </div>
                </div>

            </div>
        </div>
    </div>
{% endblock main %}